.project-details {
  padding: 16px;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.project-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
}
.money {
  border-collapse: collapse;
}

.title,
.text {
  margin: 8px 0;
}

.cta {
  display: flex;
  align-items: center;
  gap: 16px;
}
