.top-bar {
  padding: 24px 32px;
  height: 32px;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: var(--color-primary-text);
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  text-decoration: underline;
  filter: brightness(0.8);
}
