body[data-theme="light"] {
  --color: white;

  --color-theme: rgb(255, 255, 255);
  --color-primary-bg: rgb(248, 248, 248);
  --color-primary-text: rgb(8, 8, 8);
  --color-secondary-bg: rgb(34, 127, 249);
  --color-secondary-text: rgb(255, 255, 255);
  --color-highlight-text: var(--color-secondary-bg);
}

body[data-theme="dark"] {
  --color: black;

  --color-theme: rgb(0, 0, 0);
  --color-primary-bg: rgb(8, 8, 8);
  --color-primary-text: rgb(248, 248, 248);
  --color-secondary-bg: rgb(230, 0, 126);
  --color-secondary-text: rgb(255, 255, 255);
  --color-highlight-text: var(--color-secondary-bg);
}

body[data-theme="contrast"] {
  --color: yellow;

  --color-theme: rgb(0, 0, 0);
  --color-primary-bg: rgb(0, 0, 0);
  --color-primary-text: rgb(255, 255, 0);
  --color-secondary-bg: rgb(255, 0, 0);
  --color-secondary-text: rgb(255, 255, 255);
  --color-highlight-text: var(--color-secondary-bg);
}

body[data-font="normal"] {
  --size-font: 20px;
}

body[data-font="big"] {
  --size-font: 32px;
}

body[data-font="large"] {
  --size-font: 48px;
}

body {
  margin: 0;
  --transition-time: 0.7s;
  transition: font-size var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out,
    color var(--transition-time) ease-in-out;
  font-size: var(--size-font);
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

a {
  color: inherit;
  text-decoration: inherit;
}
